<div class="panel panel-default">
  <div class="panel-body">
    <div id="notify-events-about">

      <h2>
        Start getting OpenCart notifications in a convenient way with <a href="https://notify.events/" target="_blank">Notify.Events</a>
      </h2>

      <p>
        Notify.Events plugin is the ultimate tool for receiving notifications from your OpenCart website to 30+ messenger apps and platforms: SMS, VoiceCall, Facebook Messenger, Viber, Telegram, and many more.
      </p>

      <h3>
        Channels
      </h3>

      <p>
        Add the channel that you want to be notified to.<br>
        <i>
          Requires preliminary configuration in the Notify.Events account.
        </i>
      </p>

      <h3>
        Events
      </h3>

      <p>
        Add the events that you want to be notified about: new user, new order, out of stock, and more
      </p>

      <h3>
        Configuration
      </h3>

      <p>
        Step 1. Notify.Events service configuration:
      </p>
      <ol>
        <li>Sign up for Notify.Events on the <a href="https://notify.events/" target="_blank">official website</a>.</li>
        <li>Create a channel.</li>
        <li>Subscribe to the channel with your favorite instant messenger or choose another way to receive notifications.</li>
        <li>Add the "<a href="https://notify.events/source/opencart" target="_blank">OpenCart</a>" source to your channel and copy the generated token.</li>
      </ol>

      <p>
        Step 2. OpenCart configuration:
      </p>
      <ol>
        <li>Go to the "<a href="{{ channels_link }}">Channels</a>" tab, create a new channel, and paste the copied token.</li>
        <li>Go to the "<a href="{{ events_link }}">Events</a>" tab and add the event you need.</li>
        <li>Define the event properties, customize the message text (if necessary), and save the changes. Make sure to select the desired channel and check the box next to "Enabled". That’s it!</li>
      </ol>

    </div>
  </div>
</div>
